<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center"> Browse outfits for you and your pet!</h1>
  </div>
  <div class="row justify-content-center mt-4" style="row-gap: 1.2rem;">
    <% @outfits.each do |outfit| %>
      <div class="col-6 col-lg-4">
        <div class="card">
          <% if outfit.photo.attached? %>
            <%= cl_image_tag outfit.photo.key, width: 400, height: 300, crop: :fill %>
          <% end %>
         <div class="card-body">
         <h5 class="card-title"><%= outfit.name %></h5>
         <p class="card-text"><strong>Price:</strong><span class="ms-1"><%= outfit.price %></span></p>
         <%= link_to 'More info', outfit_path(outfit) %>
         </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
