<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center"> Browse outfits for you and your pet!</h1>
  </div>
  <div class="row justify-content-center mt-4" style="row-gap: 1.2rem;">
    <% @outfits.each do |outfit| %>
      <div class="col-6 col-lg-4">
        <div class="card">
         <img class="card-img-top" src="<%= outfit.photo.key %>" style="object-fit: cover; height: 300px; object-position: center top;">
         <div class="card-body">
         <h5 class="card-title"><%= outfit.name %></h5>
         <p class="card-text"><strong>Price:</strong><span class="ms-1"><%= outfit.price %></span></p>
         <%= link_to 'More info', outfit_path(outfit) %>
         </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
