<div class="row justify-content-center" style="margin-left: 0px;margin-right: 0px;">
  <div class="col-8">
    <div class="rounded-4 banner">
      <div class="banner-text">
        <h1>Cute matching outfits for your and your pet</h1>
        <p>Twinning w/ with your BFFL never felt better</p>

        <%= link_to "Browse All Outfits", outfits_path(@outfit), :class => "btn btn-light rounded-3 mt-3" %></a>
      </div>
    </div>
  </div>
</div>
