<div class="row justify-content-center" style="margin-left: 0px;margin-right: 0px;">
  <div class="col-10">
    <div class="rounded-4 banner">
      <div class="banner-text">
        <h1>Cute matching outfits for your and your pet</h1>
        <p>Twinning w/ with your BFFL never felt better</p>
        <%= link_to "Browse All Outfits", outfits_path(@outfit), :class => "btn btn-light rounded-3 mt-3" %></a>
      </div>
    </div>

    <div class="container my-4">
      <div class="row">

        <div class="col-md-4 mb-3">
          <div class="rounded-4 category-banner-dog">
            <div class="category-banner-text">
              <h3><%= link_to "Dog outfits", filtered_outfits_path(category: 'Dog'), class: 'font-weight-bold text-decoration-none text-white' %></h3>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="rounded-4 category-banner-cat">
            <div class="category-banner-text">
              <h3><%= link_to "Cat outfits", filtered_outfits_path(category: 'Dog'), class: 'font-weight-bold text-decoration-none text-white' %></h3>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="rounded-4 category-banner-misc">
            <div class="category-banner-text">
              <h3><%= link_to "Miscellaneous", filtered_outfits_path(category: 'Dog'), class: 'font-weight-bold text-decoration-none text-white' %></h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
