<%= render 'navbar' %>
<h1 class="text-center" style="margin-top: 10vh;">Cute matching costumes for you and your pet for rent!</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ichef.bbci.co.uk/news/976/cpsprodpb/D8C4/production/_109929455_puglandscape.jpg.webp);">
  <div class="container">
    <h1>Cute matching outfits for your and your pet</h1>
    <p>Twinning w/ with your BFFL never felt better</p>
    <%= link_to "Browse Outfits", outfits_path(@outfit), :class => "btn btn-light" %></a>
  </div>
</div>
<%= render 'footer' %>

