// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.vh-84 {
  margin-top: 16vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.collapse {
  z-index: 1;
}

body {
  padding-top: 72px;
  padding-bottom: 72px;
}

.card a {
  text-decoration: none;
}

.card-buttons a:last-child {
  margin-left: auto;
}

.card-buttons a:first-child {
  padding-right: 12px;
}

.outfit-show-img img {
  width: -moz-available;
  border-radius: 4px;
}

.outfit-index-card img {
  width: -moz-available;
  object-fit: cover;
  object-position: center top;
  height: 200px;
}

.user-show-card img {
  width: -moz-available;
  object-fit: cover;
  object-position: center top;
  height: 200px;
}

.category-banner-dog{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.postimg.cc/CKy4JfyW/dog-bee.jpg');
}

.category-banner-cat{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.postimg.cc/zfnFQX83/cat-bee.jpg');
}

.category-banner-misc{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.postimg.cc/vZxzWtKr/rat.jpg');
}

.category-banner-text h3{
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  line-height: 200px;
}
